<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<nav id="navbar" class="">
  <div class="nav-wrapper">
    <!-- Navbar Logo -->
    <div class="logo">
      <!-- Logo Placeholder for Inlustration -->
      <a [routerLink]="['/work']"> Laura Van Emelen</a>
    </div>

    <!-- Navbar Links -->
    <ul id="menu">
      <li><a [routerLink]="['/work']" >Work</a></li>
      <li><a [routerLink]="['/projects']" >Projects</a></li>
      <li><a [routerLink]="['/about']">About</a></li>
      <li><a [routerLink]="['/contact']">Contact</a></li>
    </ul>
  </div>
</nav>


<!-- Menu Icon -->
<div class="menuIcon">
  <span class="icon icon-bars"></span>
  <span class="icon icon-bars overlay"></span>
</div>


<div class="overlay-menu">
  <ul id="menu">
    <li><a [routerLink]="['/work']">Work</a></li>
    <li><a [routerLink]="['/projects']" >Projects</a></li>
    <li><a [routerLink]="['/about']">About</a></li>
    <li><a [routerLink]="['/contact']">Contact</a></li>
    </ul>
</div>


<!-- Eyes -->
<div id="pos">
<div id="face">
<div class="left eye">
        <div class="pupil"></div>
    </div>
    <div class="right eye">
        <div class="pupil"></div>
    </div>
</div>
</div>
